{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="bg-orange-50 min-h-screen">
        <div class="mx-auto max-w-2xl px-4 py-a sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <div class="mx-auto max-w-4xl lg:text-center">
                <p class="mt-2 text-4xl font-semibold tracking-tight font-sans text-pretty text-gray-900 sm:text-5xl lg:text-balance">
                    {{ cuisine_type }}
                </p>
            </div>
            <h2 class="sr-only">{{ cuisine_type }}</h2>

            {% if cuisine_list %}
            <div class="mt-10 grid grid-cols-1 gap-x-3 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-4">
                {% for recipe in cuisine_list %}
                    <div class="bg-white border-solid border-gray-100 rounded-lg shadow-md h-120">
                        <a href="{% url 'recipes:detail' recipe.id %}" class="group">
                            <img src="https://www.allrecipes.com/thmb/oggFsonsSCzd8D4MX0CBwx1BnJ4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/9400782-66267980c5c54f64acbfbf5bec31dd5b.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="aspect-square rounded-lg rounded-b-none w-full object-cover group-hover:opacity-75 xl:aspect-7/8" />
                            <div class="flex flex-col flex-grow p-2 font-sans">
                                <p class="mt-1 text-sm text-gray-700">{{ recipe.total_time }} Minutes</p>
                                <div class="flex-grow"></div>
                                <h3 class="mt-1 text-2xl text-gray-900">{{ recipe.title }}</h3>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <h1>There are no recipes under this cuisine at this time.</h1>
            {% endif %}
        </div>
    </div>
</main>
{% endblock content %}